<article class="message">
  <p class="message-body">
    <%= pgettext("terms", "Some terms, technical or otherwise, used in the text below may cover concepts that are difficult to grasp. We provide <a href=\"/glossary\">a glossary</a> to help you understand them better.") |> raw %>
  </p>
</article>
<h3><%= pgettext("terms", "What information do we collect?") %></h3>
<ul>
  <li>
    <b><%= pgettext("terms", "Basic account information") %></b>
    <p><%= pgettext(
      "terms",
      "We collect information from you when you register on this instance and gather data when you participate in the platform by reading, writing, and interacting with content shared here. If you register on this instance, you will be asked to enter <b>an e-mail address, a password</b> (hashed) and at least <b>an username</b>. Your e-mail address will be verified by an email containing a unique link. If that link is visited, we know that you control the e-mail address. You may also enter additional profile information such as <b>a display name and biography, and upload a profile picture and header image</b>. The username, display name, biography, profile picture and header image <b>are always listed publicly</b>. <b>You may however visit this instance without registering</b>."
      ) |> raw %>
    </p>
  </li>
  <li>
    <b><%= pgettext("terms", "Published events and comments") %></b>
    <p>
      <%= pgettext(
      "terms",
      "Your <b>events</b> and <b>comments</b> are delivered to other instances that follow your own, meaning they are delivered to different instances and copies are stored there. When you delete events or comments, this is likewise delivered to these other instances. All interactions related to events features - such as joining an event - or group features - such as managing resources - are federated as well. Please keep in mind that the operators of the instance and any receiving instances may view such messages and informations, and that recipients may screenshot, copy or otherwise re-share them."
      ) |> raw %>
    </p>
    <p>
      <b><%= pgettext("terms", "Do not share any dangerous information over Mobilizon.") %></b>
    </p>
  </li>
  <li>
    <b><%= pgettext("terms", "IPs and other metadata") %></b>
    <p>
      <%= pgettext("terms", "We also may retain server logs which include the IP address of every request to our server.") %>
    </p>
  </li>
</ul>
<h3><%= pgettext("terms", "What do we use your information for?") %></h3>
<p><%=
  pgettext(
  "terms",
  "Any of the information we collect from you may be used in the following ways:"
  )
  %></p>
<ul>
  <li><%= pgettext("terms", "To provide the core functionality of Mobilizon. Depending on this instance's policy you may only be able to
    interact with other people's content and post your own content if you are logged in.") %></li>
  <li><%= pgettext("terms", "To aid moderation of the community, for example comparing your IP address with other known ones to determine ban
    evasion or other violations.") %></li>
  <li><%= pgettext("terms", "The email address you provide may be used to send you information, updates and notifications about other people
    interacting with your content or sending you messages and to respond to inquiries, and/or other requests or
    questions.") %></li>
</ul>
<h3 class="title"><%= pgettext("terms", "How do we protect your information?") %></h3>
<p>
  <%=
  pgettext("terms", "We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information. Among other things, your browser session, as well as the traffic between your applications and the API, are secured with SSL/TLS, and your password is hashed using a strong one-way algorithm.")
  %>
</p>
<h3 class="title"><%= pgettext("terms", "What is our data retention policy?") %></h3>
<p><%= pgettext("terms", "We will make a good faith effort to:") %></p>
<ul>
  <li>
    <%= pgettext("terms", "Retain server logs containing the IP address of all requests to this server, in so far as such logs are kept, no more than 90 days.")%>
  </li>
  <li>
    <%= pgettext("terms", "Retain the IP addresses associated with registered users no more than 12 months.") %>
  </li>
</ul>
<p><%= pgettext("terms", "You may irreversibly delete your account at any time.") %></p>
<h3 class="title"><%= pgettext("terms", "Do we use cookies?") %></h3>
<p><%=
  pgettext("terms", "We store the following information on your device when you connect:")
  %>
</p>
<ul>
  <li><%= pgettext("terms", "An internal user ID") %></li>
  <li><%= pgettext("terms", "An internal ID for your current selected identity") %></li>
  <li><%= pgettext("terms", "Tokens to authenticate you") %></li>
</ul>
<p><%= pgettext("terms", "If you delete these informations, you need to login again.") %></p>
<p><%=
  pgettext(
  "terms",
  "If you're not connected, we don't store any information on your device, unless you participate in an event anonymously. In this specific case we store the hash of an unique identifier for the event and participation status in your browser so that we may display participation status. Deleting these informations will only stop displaying participation status in your browser."
  )
  %>
</p>
<em>
  <%= pgettext("terms", "Note: These informations are stored in your localStorage and not your cookies.") %>
</em>
<h3 class="title"><%=
  pgettext("terms", "Do we disclose any information to outside parties?")
  %></h3>
<p>
  <%=
  pgettext("terms", "No. We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information. This does not include trusted third parties who assist us in operating our site, conducting our business, or servicing you, so long as those parties agree to keep this information confidential. We may also release your information when we believe release is appropriate to comply with the law, enforce our site policies, or protect ours or others rights, property, or safety.")
  %>
</p>
<p>
  <%=
  pgettext("terms", "Your content may be downloaded by other instances in the network. Your public events and comments are delivered to the instances following your own instance. Content created through a group is fowarded to all the instances of all the members of the group, in so far as these members reside on a different instance than this one.")
  %>
</p>
<h3 class="title"><%=
  pgettext("terms", "Site usage by children")
  %></h3>
<p>
  <%= pgettext("terms", "If this server is in the EU or the EEA: Our site, products and services are all directed to people who are at least 16 years old. If you are under the age of 16, per the requirements of the GDPR (<a href=\"https://en.wikipedia.org/wiki/General_Data_Protection_Regulation\">General Data Protection Regulation</a>) do not use this site.") |> raw %>
</p>
<p>
  <%= pgettext("terms", "If this server is in the USA: Our site, products and services are all directed to people who are at least 13 years old. If you are under the age of 13, per the requirements of COPPA (<a href=\"https://en.wikipedia.org/wiki/Children%27s_Online_Privacy_Protection_Act\">Children's Online Privacy Protection Act</a>) do not use this site.") |> raw %>
</p>
<p>
  <%= pgettext("terms", "Law requirements can be different if this server is in another jurisdiction.") %>
</p>
<h3 class="title"><%=
  pgettext("terms", "Changes to our Privacy Policy")
  %></h3>
<p><%= pgettext("terms", "If we decide to change our privacy policy, we will post those changes on this page.") %></p>
<p><%= pgettext("terms", "This document is licensed under <a href=\"https://creativecommons.org/licenses/by-sa/4.0/\">CC BY-SA</a>. It was last updated June 18, 2020.") |> raw %></p>
<p><%= pgettext("terms", "Originally adapted from the <a href=\"https://mastodon.social/terms\">Mastodon</a> and <a href=\"https://github.com/discourse/discourse\">Discourse</a> privacy policies, also licensed under <a href=\"https://creativecommons.org/licenses/by-sa/4.0/\">CC BY-SA</a>.") |> raw %></p>
